[submodule "kernel"]
	path = kernel
	url = https://github.com/OrderLab/orbit-kernel.git
	branch = orbit
[submodule "userlib"]
	path = userlib
	url = https://github.com/OrderLab/orbit-userlib.git
	branch = orbit
[submodule "compiler"]
	path = compiler
	url = https://github.com/OrderLab/orbit-compiler.git
	branch = master
