# http://dev.mysql.com/doc/mysql/en/server-system-variables.html
[mysqld]
pid-file        = /tmp/mysqld.pid
socket          = /tmp/mysql.sock
# By default we only accept connections from localhost
bind-address    = 127.0.0.1
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
innodb_deadlock_detect=1
max_connections=500
innodb_rollback_on_timeout=1
innodb_lock_wait_timeout=10
